.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-bottom: 40px;
}

.header-menu {
  display: flex;
  gap: 20px;
}

.header-menu li a {
  padding: 10px;
}

.header a {
  color: var(--w);
  padding: 10px 33px;
  border-radius: 6px;
  transition: color 0.3s;
}

.header a:hover {
  color: var(--p-06);
}

.header a[href="#contato"] {
  background-color: #87a2fb;
  border: 2px solid #87a2fb;
  transition: background 0.3s;
}

.header a[href="#contato"]:hover {
  background-color: transparent;
  border: 2px solid #87a2fb;
  color: var(--w);
}
