.intro-bg {
  background-image: url("../../img/intro-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  min-height: 726px;
  position: relative;
  z-index: 2;
}

.intro {
  text-align: center;
  margin-top: 120px;
}

.intro h1 {
  margin-bottom: 12px;
  animation: slideIn 250ms forwards;
}

.intro p + p {
  margin-bottom: 72px;
  margin-top: 4px;
}

.intro p:first-child {
  animation: Bounce 500ms forwards;
}

.intro p:last-child {
  animation: Bounce 800ms forwards;
}
