.projetos-bg {
  background-image: url('../../img/projetos-bg.png');
  min-height: 726px;
}

.meusProjetos {
  max-width: 450px;
  margin: 0 auto;
}

.projetos {
  overflow: hidden;
}

.projetos h1 {
  text-align: center;
  padding-top: 100px;
  margin-bottom: 40px;
}

.wrapper {
  display: flex;
  gap: 20px;
  transition: 0.3s all;
  max-width: 450px;
}

.wrapper li {
  flex-shrink: 0;
  max-width: 100%;
  width: 100%;
  height: 300px;
  background-color: var(--az-03);
  border-radius: 4px;
}

.wrapper li:not(.current-slide) {
  opacity: 0.8;
  transform: scale(0.9);
}

.wrapper li.current-slide {
  opacity: 1;

  transform: scale(1);
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
}

.meusProjetos-itens {
  display: grid;
  grid-template-rows: 1fr fit-content(100%);
  padding: 20px;
  position: relative;
  transition: transform 0.3s;
}

.meusProjetos-itens h2 {
  place-self: center;
  z-index: 2;
}

.meusProjetos-itens div {
  z-index: 2;
  background-color: var(--rx-01);
  width: fit-content;
  padding: 0.5rem;
  border-radius: 4px;
}

.meusProjetos-itens p {
  line-height: 1.3;
}

.meusProjetos-itens p + p {
  margin-top: 4px;
}

.meusProjetos-itens a {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
}

.meusProjetos-itens img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
  position: absolute;
  border-radius: inherit;
}

@media (max-width: 500px) {
  .projetos h1 {
    font-size: 2rem;
  }
  .meusProjetos h2 {
    font-size: 1.5rem;
  }
  .meusProjetos p {
    font-size: 1rem;
  }
  .wrapper li {
    width: 100%;
  }
}
